<ion-toolbar class="no-bg">

    <ion-buttons slot="end">
        <ion-button (click)="back()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{title}}</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
</ion-toolbar>
