<ion-toolbar>
    <ion-button [disabled]="loading" [color]="showFilter?'danger':'light'" class="filter-button"  (click)="filter()" expand="block">
        <ion-spinner *ngIf="loading"></ion-spinner>
        <span *ngIf="!loading">
            {{showFilter?'بستن فیلتر':'فیلتر'}}
        </span>
    </ion-button>

    <ion-toolbar *ngIf="showFilter">
        <ion-list>
            <ion-item dir="rtl" (click)="selectShift()">
                <ion-icon color="primary" slot="start" name="time-outline"></ion-icon>
                <ion-label>
                    انتخاب شیفت
                </ion-label>
                <ion-label slot="end" color="primary" class="ion-text-end">
                    {{shiftName}}
                </ion-label>
            </ion-item>
            <ion-item dir="rtl" (click)="selectUser()">
                <ion-icon color="primary" slot="start"  name="person-outline"></ion-icon>
                <ion-label>
                    انتخاب شخص
                </ion-label>
                <ion-label slot="end" color="primary" class="ion-text-end">
                    {{userName}}
                </ion-label>
            </ion-item>
            <ion-item dir="rtl" (click)="selectOrganization()">
                <ion-icon color="primary" slot="start"  name="business-outline"></ion-icon>
                <ion-label>
                    انتخاب سازمان
                </ion-label>
                <ion-label slot="end" color="primary" class="ion-text-end">
                    {{organizationName}}
                </ion-label>
            </ion-item>
            <ion-item dir="rtl" (click)="selectOrganizationUnit()">
                <ion-icon color="primary" slot="start"  name="grid-outline"></ion-icon>
                <ion-label>
                    انتخاب واحد سازمان
                </ion-label>
                <ion-label slot="end" color="primary" class="ion-text-end">
                    {{organizationUnitName}}
                </ion-label>
            </ion-item>
            <ion-item (click)="openDatePickerFrom()">
                <ion-icon color="primary" slot="start"  name="calendar-outline"></ion-icon>
                <ion-label>از تاریخ</ion-label>
                <ion-label slot="end" color="primary" class="ion-text-end" >{{dateFrom?.pDate?.locale('fa').format('dddd,jDD jMMMM  jYYYY')}}</ion-label>
            </ion-item>
            <ion-item (click)="openDatePickerUntil()">
                <ion-icon color="primary" slot="start"  name="calendar-outline"></ion-icon>
                <ion-label>تا تاریخ</ion-label>
                <ion-label slot="end" color="primary" class="ion-text-end" >{{dateUntil?.pDate?.locale('fa').format('dddd,jDD jMMMM  jYYYY')}}</ion-label>
            </ion-item>
        </ion-list>



        <ion-list>
            <ion-col>

            </ion-col>
        </ion-list>
        <ion-button (click)="filterReset()" color="light" class="filter-button"   expand="block">
        پاک کردن فیلتر
        </ion-button>
        <ion-button  (click)="filterAction()" color="primary"
                     expand="block">
            اعمال فیلتر
        </ion-button>

    </ion-toolbar>
</ion-toolbar>
