<ion-header>
    <app-header [title]="title"></app-header>
</ion-header>

<ion-content class="ion-padding background">

    <ion-list>
        <ion-item *ngFor="let model of dataFromModels">
            <ion-label>
                <h2>{{model.OperationTitle}}</h2>
                <ion-grid>
                    <ion-row>
                        <ion-col dir="rtl">
                            تعداد : {{model.OperationCount}}  نفر
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col dir="rtl">
                            {{model.TotalAmount |  number}} ریال
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>
<ion-footer>
    <app-filter-action [loading]="loading" (open)="dataFromModel($event)"></app-filter-action>
</ion-footer>

