
ion-input {
  text-align: center;
}

.background {
  --background: rgba(255,255,255,0.5);
}

.mycontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

form {
  width: 100%;
}

.item-input {
  --background: transparent;
  opacity: 0.9;
  margin-left: 5px;
  margin-right: 5px;
  --padding-start: 0;
  --padding-end: 0;
  --border-color: #474749;
}

.button {
  color: #474749;
}
.card-bg{
  background: rgba(255,255,255,0.7)!important;
  border: 2px solid #55a2ce;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  padding: 16px;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
}
