<ion-content class="background">


  <div class="mycontainer">

    <div class="card-bg">
      <div style="display: flex;margin-top: -75px;margin-bottom: 25px" class="ion-justify-content-center">
        <img height="100px" src="assets/logo.svg">
      </div>

      <div class="container">
        <form [formGroup]="form" (ngSubmit)="login()">
          <ion-item class="item-input" >
            <ion-label  position="floating" class="text-style button">نام کاربری</ion-label>
            <ion-input  formControlName="username" type="text"></ion-input>
          </ion-item>
          <div class="validation-box">
            <div *ngIf="form.get('username').valid">&nbsp;</div>
            <div *ngIf="form.get('username').invalid && sSubmit">
              <ion-icon name="information-circle" size="small"></ion-icon>
              <span>نام کاربری را وارد کنید.</span>
            </div>
          </div>
          <ion-item>
            <ion-label position="floating"  class="text-style button">رمز ورود</ion-label>
            <ion-input  formControlName="password" type="password"></ion-input>
          </ion-item>
          <div class="validation-box">
            <div *ngIf="form.get('password').valid">&nbsp;</div>
            <div *ngIf="form.get('password').invalid && sSubmit">
              <ion-icon name="information-circle" size="small"></ion-icon>
              <span>رمز عبور را وارد کنید.</span>
            </div>
          </div>
          <ion-button  type="submit" class="button"  expand="block" color="primary">
            <ion-spinner *ngIf="loading" ></ion-spinner>
            <span *ngIf="!loading"><fa-icon style="margin: 10px" [icon]="faSign"></fa-icon >ورود</span>
          </ion-button>
        </form>

      </div>
    </div>

  </div>

</ion-content>
