
body {
  height: 100%;
}

@keyframes bg {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 0 200%;
  }

  100% {
    background-position: 0 400%;
  }
}


.ion-justify-content-end{
  display: flex;
}


.name-box{
  display:flex ;
  height: 2em;
  width: 100%;
  background-color: white;
  font-size: x-large;
}
.background {
  --background: rgba(255,255,255,0.5);
}
.mylist{
  ion-item{
    --background: rgba(255,255,255,0.9);
  }

}
