<ion-header>

  <app-header [title]="title"></app-header>
</ion-header>

<ion-content class="background ion-padding">
  <ion-list>
    <ion-item *ngFor="let model of dataFromModels">
      <ion-label>
        <h2>{{model.OperationTitle}}</h2>
        <ion-grid>
          <ion-row>
            <ion-col dir="rtl">
              {{model.OperationCount}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col dir="rtl">
              {{model.TotalAmount | number}} ریال
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngIf="!loading">
      <ion-label>
        <h2>جمع دریافتی ها</h2>
        <ion-grid>
          <ion-row>
            <ion-col dir="rtl">
                  {{sumAll | number}} ریال
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <app-filter-action [loading]="loading" (open)="dataFromModel($event)"></app-filter-action>
</ion-footer>

