.name-box{
  display:flex ;
  height: 2em;
  width: 100%;
  background-color: white;
  justify-content: center;
  font-size: x-large;
  font-family: Lalezar;
}
.background {
  --background: rgba(255,255,255,0.5);
}
.mylist{
  ion-item{
    --background: rgba(255,255,255,0.9);
  }

}

.filter-button{
  color: #0d0d0d;
}
