<ion-header>
    <app-header [title]="title"></app-header>
</ion-header>


<ion-content class="background ion-padding">
    <ion-list>
        <ion-item>
            <ion-icon color="primary" slot="start" name="arrow-back-outline"></ion-icon>
            <ion-label>
                <h2>افراد در مجموعه</h2>
            </ion-label>
            <ion-label slot="end">
                <h2>{{presentNumber}}نفر</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon color="primary" slot="start" name="arrow-forward-outline"></ion-icon>
            <ion-label>
                <h2>افراد خارج شده</h2>
            </ion-label>
            <ion-label slot="end">
                <h2>{{exitNumber}}نفر</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon color="primary" slot="start" name="swap-horizontal-outline"></ion-icon>
            <ion-label>
                <h2>مجموع</h2>
            </ion-label>
            <ion-label slot="end">
                <h2>{{all}}نفر</h2>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <app-filter-action [loading]="loading" (open)="dataFromModel($event)"></app-filter-action>
</ion-footer>

