/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.validation-box{
  min-height: 15px;
  width: 100%;
  font-size: small;
  color: red;
  margin-top: 5px;
  height: 20px;
  > div{
    display: inline-flex;
    align-items: center;
  }
}
ion-router-outlet > *{
  background: url("assets/bg-1.jpg");
  background-size: cover;
  background-position: center bottom;
}

.secondary{
  text-align: center;
  --background: rgba(255,255,255,0.9);
  color: #000
}
.background{

  --background: repeating-linear-gradient(
                  -45deg,
                  hsl(215,30%,60%) 0%,  /* blau */
                  hsl(120,30%,90%) 15%, /* grün */
                  hsl(30,50%,90%) 30%,  /* rosa */
                  hsl(215,30%,60%) 45%  /* blau */
  );
}
.item-has-focus.label-floating.sc-ion-label-md-h, .item-has-focus .label-floating.sc-ion-label-md-h, .item-has-placeholder.label-floating.sc-ion-label-md-h, .item-has-placeholder .label-floating.sc-ion-label-md-h, .item-has-value.label-floating.sc-ion-label-md-h, .item-has-value .label-floating.sc-ion-label-md-h{
  text-align: right;
}
.container{
  max-width: 320px;
  margin: auto;
}
.ltr{
  direction: ltr;
}
.rtl{
  direction: rtl;
}
ion-list{
  background: transparent!important;
  --background: transparent;
}
